*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(4,9,30,0.9),rgba(4,9,30,0.9)),url('../Images/bg\ img.png ');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.box
{
    background:darkgrey;
    width:420px;
    height: auto;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 3px 2px black;
    
}

.box h1
{
    font-size: 33px;
    text-align: center;
    color:navy;
}

.box .user
{
    height: 40px;
    width: 100%;
    margin: 30px 0;
    /*background:salmon*/
}

.user input
{
    height: 100%;
    width: 100%;
    background: white;
    border: none;
    outline: none;
    border: 3px solid lavender;
    border-radius: 40px;
    font-size: 14px;
    color:black;
    padding: 20px 45px 20px  20px;
}
.user input::placeholder
{
    color:black;
}

.user input:hover
{
    border:2px solid navy;
    
}

.box .remember
{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}

.remember label input
{
    accent-color: white;
    margin-right: 3px;
    
} 

.remember label
{
    color: black;
}

.remember a
{
    color:black;
    text-decoration: none;
}

.remember a:hover
{
    text-decoration: underline;
}

.btn
{
    width:100%;
    height: 38px;
    background: navy;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.btn:hover
{
    transform: translateY(-2px);

}

.box .register
{
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
    
}

.register p a
{
    color:navy;
    text-decoration: none;
    font-weight: 600;
    margin-left: 5px;
}

.register p a:hover
{
    text-decoration: underline;
}