*
{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    box-sizing: border-box;
}

.header
{
    height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("bg\ img.png");
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}


nav
{
    display: flex;
    justify-content: space-between;
    align-items:  center;
    padding: 9px 45px;
    position:fixed;
    box-shadow: 0px 0px 12px 25px rgba(0,0,0,0.1);
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(25px);
    width:100%;
    top:0;
    left:0;

}

.logo
{
    height: auto;
    width:200px;
}

.links ul
{
    display: flex;
    
}
.links ul li
{
    margin:0 20px;
    
}
.links ul li a:hover
{
    color:white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    background: transparent;
    border:3px solid whitesmoke;
}
.links
{
    margin: 0 3%;
}

.links ul li a
{
      box-sizing: border-box;
      padding: 8px 20px;
      background-color:darkslategray;
      border: 2px solid darkslategray;
      color: whitesmoke;
      font-size: 15px;
      font-weight: bold;
      border-radius: 13px;
      cursor: pointer;
      text-decoration: none;
      list-style:none;
      
}

.text
{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin:auto;
    position: absolute;
    width:70%;
    text-align: center;
}
.text h1
{
    font-weight: 600;
    font-size: 50px;
    color: whitesmoke;
    margin:3px;
}
.text p
{
    font-size: 20px;
    font-weight:100;
    color: whitesmoke;
    margin: 13px 0 20px;
}