<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="../CSS/sign.css">
</head>

<body>

    <section class="header">
        
        <div class="box">

            <form action="">
                <h1>Create a New Account</h1>
                <div class="inputs">
                    <input type="text" placeholder="FirstName" required>
                </div>
                <div class="inputs">
                    <input type="text" placeholder="LastName" required>
                </div>
                <div class="inputs">
                    <input type="number" placeholder="Contact number" required>
                </div>
                <div class="inputs">
                    <input type="email" placeholder="Email Address" required>
                </div>

                <div class="inputs">
                    <input type="password" placeholder="Pick a password" required>
                </div>

                <p class="text">Use at least one letter,one numerical and seven characters </p>

                <div class="inputs">
                    <input type="password" placeholder="Conform password" required>
                </div>

                <button type="submit" class="btn">SIGNIN</button>    
            </form>
            
        </div>

        
    </section>
    
</body>
</html>