<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">">       
</head>

<body>

    <div id="messageBox" class="message-box"></div>
  
    <div class="navbar">
        <p>Welcome, {{ session['username'] }}!</p>
        <div class="nav-links">
            <a href="/home">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </div>


    <div class="box">
        <div id="msg-box" class="msg hidden"></div>

        <h1> Edit Your Profile </h1> 
        <div class="profile-img"></div>
        <a href="#" class="change-photo"> Change Photo </a>

        <form action="/update_profile" id="profileForm" method="POST">

            <div class="inputs">
                <label for="firstname">First Name</label>
                <input type="text" name="firstname" id="firstname" value="{{ user.firstname}}" placeholder="Enter first name">
            </div>

            <div class="inputs">
                <label for="lastname">Last Name</label>
                <input type="text" name="lastname" id="lastname" value="{{ user.lastname }}" placeholder="Enter last name">
            </div>

            <div class="inputs">
                <label for="mobile">Mobile</label>
                <input type="number" name="mobile" id="mobile" value="{{ user.contact }}" placeholder="Enter mobile number">
            </div>

        
            <div class="inputs">
                <label for="email">Email Id</label>
                <input type="email" name="email"  id="email"  value="{{user.email}}" readonly  style="cursor: not-allowed;">
            </div>

            <div class="inputs">
                <label for="password">New Password</label>
                <input type="password" name="password" id="password" placeholder="Enter Password(Optional)">
            </div>

            
            <button type="button" class="btn-cancel" value="cancel" >Cancel</button>
            <button type="submit" class="btn-save" value="save" >Save</button>
        
        </form>
        
        <div class="footer">
            <p>Need help? <a href="#">Contact Support</a></p>
        </div>

    </div>
    
</body>
</html>

<script>

  document.getElementById('profileForm').addEventListener('submit', function(event) {
  event.preventDefault();

  const formData = new FormData(this);

  fetch('/update_profile', {
    method: 'POST',
    body: formData
  })
  .then(response => response.json())
  .then(data => {
    const msgBox = document.getElementById('messageBox');
    msgBox.textContent = data.message;

    if (data.status === 'success') {
      msgBox.className = 'message-box success show';
    } else {
      msgBox.className = 'message-box error show';
    }

    // Hide after 3 seconds
    setTimeout(() => {
      msgBox.classList.remove('show');
    }, 6000);
  });
});

</script>